.Task {
    /*padding: 10px 20px;*/
    margin: 5px;
    background-color: ghostwhite;
    border-radius: 10px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.Task:hover {
    /*background-color: #effffd;*/
}

.TaskIcon {
    padding: 10px 20px;
    /*border: 1px solid black;*/
    /*color: red;*/
}

.TaskIcon:hover {
    background-color: rgba(205, 205, 205, 0.5);
}

.TaskText {
    padding: 10px 20px;
    /*border: 1px solid black;*/
    flex-grow: 1;
}