.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App__wrapper {
  text-align: center;
  max-width: 400px;
  min-height: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 3px #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
